#deck-list {
  margin: auto;
  padding-left: 5vw;
  padding-top: 2vh;
  overflow: auto;
  height: 85%;
}

.breaker{
  color : black;
  border : 1px solid black;
  margin-bottom : 5px;
}

#decks-header {
  text-align: center;
  padding-top: 2vh;
  font-weight: bold;
  font-size: 3em;
}
