.deck-item {
  display: inline-block;
  margin: 5px;
  margin-bottom: 20px;
  text-align: center;

}

.deck-item img {
  vertical-align: top;
  height: 300px;
  display: block;
  padding-bottom: 5px;
}

.deck-item label {
  font-weight: bold;
  color: black;
  padding-right: 10px;
}

#deck-list > div > div > i {
  color: black;
}

.fa-edit {
  color: black;
  margin-left: 10px;
}

.circleBase {
  display: inline;
  padding-left: 10px;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
}
