#no-decks-image {
  width: 100%;
}

#message h1 {
  margin-top: 2vh;
  text-align: center;
}
#message h2 {
  margin-top: 0px;
  display: inline;
}

#second-line {
  text-align: center;
}

#message .inline-link {
  text-decoration: none;
  color: darkred;
  font-size: 1.71428571rem;
  display: inline;
  font-weight: bold;
}
