.App {
  text-align: center;
}

.page-container {
  display: block;
  margin-top: 157px;
  margin-bottom: 0;
  height: 83vh;
  background: grey;
  overflow: hidden;
  background-image: url('./assets/ability-icons3.png');
}

#background .content {
  margin-left: 20vw;
  margin-right: 20vw;
}

.background {
  height: 100vh;
  width: 100vw;
  background-color: #383838;
  /* filter: brightness(50%); */
  background-image: url('./assets/cards-background.JPG');
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
